@{
    ViewData["Title"] = "All Providers";
}


@model List<HalloDoc_BAL.ViewModel.Admin.ProviderInfoAdmin>;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
    <style>
        input[type=radio] {
            --s: 1.5em;
            /* control the size */
            --c: #01BBE7;
            /* the active color */

            height: var(--s);
            aspect-ratio: 1;
            border: calc(var(--s)/8) solid #939393;

            padding: calc(var(--s)/8);
            margin: 7px;
            background:
                radial-gradient(farthest-side, var(--c) 94%, #0000) 50%/0 0 no-repeat content-box;
            border-radius: 50%;
            outline-offset: calc(var(--s)/10);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
            font-size: inherit;
            transition: .3s;
        }

        input[type=radio]:checked {
            border-color: var(--c);
            background-size: 100% 100%;
        }
        .radiolabel{
            display:flex;
            align-items: center;

        }
        
        @@media print {
            input[type=radio] {
                -webkit-appearance: auto;
                -moz-appearance: auto;
                appearance: auto;
                background: none;
            }
        }
    
    </style>
}

@section Scripts {
    <script src="~/js/contactProvider.js"></script>
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}

<partial name="_NavBar" />

<div class="mt-5  m-auto mb-5 w-75">
    <div class="mt-4 m-auto d-flex justify-content-between">

        <div class="d-flex align-items-center justify-content-center">
            <h3 class="me-2 mt-1 fw-bolder">Provider Information</h3>
        </div>
        <div>
            <button class="btn btn-lg btn-outline-info hover_white ms-5" onclick="window.history.back()">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>

    <div class="border-0 rounded-3 shadow my-2">

        <div class="row px-4">

            <div class="col-md-5">
                <select class="p-2 mt-3 px-4 form-control mb-3 w-100 " id="regionsearch">
                    <option value="0">All</option>
                    @foreach (var region in @ViewBag.regions)
                    {
                        <option value="@region.Regionid">@region.Name - (@region.Abbreviation)</option>
                    }
                </select>
            </div>

            <div class="col-md-7 my-auto text-end">
                <button id="saveBtn" class="btn btn-outline-info hover_white mx-4" style="display: none;" >Save</button>
                <a href="/Admin/CreateProvider" class="btn btn-info text-white">Create provider Account</a>
            </div>
        </div>

        <div>
            <table class="w-100 table table-hover overflow-scroll">
                <thead>
                    <tr>
                        <th class="w-10">Stop <br /> Notification</th>
                        <th class="w-25">Provider Name</th>
                        <th class="w-10">Role</th>
                        <th class="w-20">On Call Status</th>
                        <th class="w-15">Status</th>
                        <th class="w-25">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var provider in Model)
                    {
                        <tr>
                            
                            @if (provider.stopNotification)
                            {
                                <td class="p-3"> <input type="checkbox" data-physicianid="@provider.providerId" id="" checked></td>
                            }else{
                                <td class="p-3"> <input type="checkbox" data-physicianid="@provider.providerId" id=""></td>
                            }
                            <td class="text-black">@provider.providerName</td>
                            <td class="text-black">Physician</td>
                            <td class="text-black">Un avaible</td>
                            <td class="text-black">@provider.statusString</td>
                            <td class="text-black">
                                <button class="btn btn-sm hover_white btn-outline-info open-modal"
                                    data-physicianid = "@provider.providerId"
                                    data-email="@provider.providerEmail"
                                    data-adminid = "@ViewBag.adminId"
                                    data-phone="@provider.providerPhone">Contact</button>
                                <button class="btn btn-sm hover_white btn-outline-info">edit</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_ProviderContact" />