@model HalloDoc_BAL.ViewModel.Admin.CreateEditAccessView;

<div class="border-0 rounded-3 shadow my-4">
    <div class="row p-3 p-2">
        <div class="col-md-12 my-auto">
            <h4 class="fw-500 p-2">Details</h4>
        </div>

        <div class="form-floating col-md-6 my-3">
            <input asp-for="roleName" id="roleName" type="text" class="form-control" placeholder=" ">
            <label for="floatingInput" class="control-label ms-3">
                Role Name
            </label>
        </div>
        <div class="form-floating col-md-6 my-3">
            <select asp-for="accoutType" asp class="form-select pt-1" id="AccountType" aria-label="Default select example">
                <option disabled selected>Account Type</option>
                @foreach (var role in @ViewBag.roles)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            </select>
        </div>

        <div class="d-flex flex-wrap align-items-center menu-container">
            <div class="d-flex flex-wrap justify-content-center mt-3">
                @if(Model.allmenus == null){
                <p class="alert alert-info"> Pelase Selecte at lease one accout type</p>
                }

                @if(Model.allmenus != null )
                {
                    @foreach (var menu in Model.allmenus)
                    {
                        <div class="d-flex align-items-center m-1">
                            @if(Model.menusforRole.Contains(menu.Menuid)){

                                <input type="checkbox" id="@menu.Menuid" name="@menu.Name" checked />
                            }
                            else
                            {
                                <input type="checkbox" id="@menu.Menuid" name="@menu.Name" />
                            }
                            <span>@menu.Name</span>
                        </div>
                    }
                }
           </div>
        </div>
        <div class="col-12 text-end mt-5 mb-3">
            <button type="submit" class="btn btn-info text-white btn-lg">Save</button>
            <div class="btn btn-outline-info hover_white btn-lg">Cancel</div>
        </div>
    </div>
</div>