<header>
    <div class="navbar pb-0">
        <div class="container-fluid border-bottom border-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="#" class="navbar-brand d-flex align-items-center  ps-md-1 ps-lg-5  ">
                <img src="/images/logo.png" width="130px" height="60px" alt="" srcset="">
            </a>
            <div class="d-flex justify-content-around align-items-center">
                <h6 class="mx-2 my-2 mobile_d_none">Welcome, <strong>@ViewBag.Username</strong></h6>
                <form asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-outline-info mx-2 hover_white">
                        <strong><i class="bi bi-box-arrow-left fw-bolder"></i></strong> <span
                            class="mobile_d_none">Logout</span>
                    </button>
                </form>
                <button id="btnSwitch" class="btn btn-sm btn-outline-info hover_white" style="scale: 1.2;">
                    <i class="fa-regular fa-moon" id="theme_mode_button"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="collapse ps-md-5 shadow" id="navbarHeader">
        <div class="container-fluid mobile_nav">
            <div class="d-flex">
                <div class="p-3 links @(ViewData["ViewName"] == "Dashboard" ? "active" : "")">
                    <a asp-controller="Admin" asp-action="Index">Dashboard</a>
                </div>
                <div class="p-3 links @(ViewData["ViewName"] == "ProviderLocation" ? "active" : "")">
                    <a asp-controller="Admin" asp-action="ProviderLocation" class="text">Provider Location</a>
                </div>
                <div class="p-3 links @(ViewData["ViewName"] == "AdminProfile" ? "active" : "")">
                    <a asp-controller="Admin" asp-action="AdminProfile" class="text">My Profile</a>
                </div>
                <div class="p-3 links dropdown">
                    <a class="dropdown-toggle @(ViewData["ViewName"] == "Providers" ? "active" : "")" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Providers
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="Provider">Provider</a></li>
                            <li><a class="dropdown-item" href="#">Scheduling</a></li>
                            <li><a class="dropdown-item" href="#">Invoicing</a></li>
                        </ul>
                </div>
                <div class="p-3 links @(ViewData["ViewName"] == "Parteners" ? "active" : "")">
                    <a asp-controller="Admin" asp-action="Parteners" class="text">Parteners</a>
                </div>
                <div class="p-3 links @(ViewData["ViewName"] == "Access" ? "active" : "")">
                    <a asp-controller="Admin" asp-action="Access" class="text">Access</a>
                </div>
                <div class="p-3 links @(ViewData["ViewName"] == "Records" ? "active" : "")">
                    <a asp-controller="Admin" asp-action="Records" class="text">Records</a>
                </div>
            </div>
        </div>
    </div>

</header>
