@model HalloDoc_BAL.ViewModel.Admin.CreateProviderView;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}

@section Scripts {
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}

<partial name="_NavBar" />

<div class=" mt-5 container-sm m-auto">
    <div class="mt-4 w-75 m-auto">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="fw-bold">Create Provider</h3>
            <button onclick="history.back()" class="btn btn-lg btn-outline-info hover_white ms-5">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>

    <!-- Form start  -->
    <form asp-action="ProviderCreate" method="post" enctype="multipart/form-data">
        <div class="mt-4 m-auto form_content">
            <div class="row p-4 shadow rounded-3">
                <!-- Provider Information -->

                <h5 class="col-12 fw-bold my-3">Provider Information</h5>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="firstName" type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput" class="control-label ms-3">
                        Provider's First Name
                    </label>
                    <span asp-validation-for="firstName" class="text-danger"></span>

                </div>
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="lastName" type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput" class="control-label ms-3">
                        Provider's Last Name
                    </label>
                    <span asp-validation-for= "lastName" class="text-danger"></span>

                </div>
                <!-- Patient Contact Information -->
                <div class="form-floating col-md-6 my-3">
                    <input asp-for="email" type="email" id="email" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput" class="control-label ms-3">
                        Provider's Email
                    </label>
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="password" type="password" id="password" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput" class="control-label ms-3">
                        Passsword
                    </label>
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6 my-3 h-100">
                    <input asp-for="phoneNumber" id="phone" type="tel" class="form-control"> <br />
                    <label for="floatingInput" class="control-label ms-3">
                    </label>
                    <span asp-validation-for="phoneNumber" class="text-danger"></span>
                </div>

                <!-- Provider Location -->
                <h5 class="col-12 fw-bold my-3">Provider Location</h5>

                <div class="form-floating col-md-6 my-3">
                    <select asp-for="regionId" class="p-2 px-4 form-control w-100 " id="regionsearch">
                        <option value="0" selected hidden>Select Provider's Region</option>
                        @foreach (var region in ViewBag.regions)
                        {
                            <option value="@region.Regionid">@region.Name - (@region.Abbreviation)</option>
                        }
                    </select>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="city" type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput" class="control-label ms-3">
                        City
                    </label>
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="state" type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput" class="control-label ms-3">
                        State
                    </label>
                    <span asp-validation-for="state" class="text-danger"></span>
                </div>

                <h5 class="col-12 fw-bold my-3">Select Provider's Service Region</h5>
                <div class="col-md-12 my-3">
                        <div class="form-check form-check-inline d-flex align-items-center">
                    @foreach (var region in ViewBag.regions)
                    {
                            <input type="checkbox" name="selectedRegions" value="@region.Regionid" />
                            <label>@region.Name</label>
                    }
                        </div>
                </div>

                <!-- Provider Business Information -->
                <h5 class="col-12 fw-bold my-3">Provider Business Infromation</h5>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="businessName" type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput" class="control-label ms-3">
                        Business Name
                    </label>
                    <span asp-validation-for="businessName" class="text-danger"></span>
                </div>

                <div class="form-floating col-md-6 my-3">
                    <input asp-for="businessWebsite" type="text" class="form-control" placeholder="name@example.com">
                    <label for="floatingInput" class="control-label ms-3">
                        Business Website
                    </label>
                    <span asp-validation-for="businessWebsite" class="text-danger"></span>
                </div>

                <div class="my-3 d-flex justify-content-end ">
                    <input class="btn btn-outline-info hover_white hover_primary mx-2 btn-lg" type="submit"></input>
                    <input class="btn btn-outline-info hover_white hover_primary btn-lg" type="reset"></input>
                </div>


            </div>
        </div>
    </form>
</div>