@model HalloDoc_BAL.ViewModel.Admin.ViewNotesView;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}

@section Scripts {
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }

        $(document).ready(function () {

            $('#updateNote').on('submit', function (e) {
                e.preventDefault();
                var formData = new FormData();
                formData.append('requestId', $('#requestId').val());
                formData.append('adminNotes', $('#adminNotes').val());

                $.ajax({
                    url: "/UpdateNotes",
                    method: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        Swal.fire("Note Update Successfully!", "", "success").then(function () {
                            window.location.reload();
                        });
                    },
                    error: function (xhr, status, error) {
                        Swal.fire("Error While Update Notes!", "", "error");
                    }
                });
            })
        })


    </script>
}


<partial name="_NavBar" />

<div class=" mt-5 container-sm m-auto mb-5 viewCaseContiner">
    <div class="mt-4 m-auto d-flex justify-content-between">
        <div class="d-flex align-items-center justify-content-center">
            <h3 class="me-2 mt-1 fw-bolder">Notes</h3>
        </div>
        <div>
            <button class="btn btn-lg btn-outline-info hover_white ms-5" onclick="window.history.back()">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>

    <div method="post" enctype="multipart/form-data">
        <div class="mt-4 m-auto">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="shadow rounded-3 p-2 d-flex">
                        <div class="m-2 pt-3">
                            <svg width="35" height="35" viewBox="0 0 30 30" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_465_912)">
                                    <path
                                        d="M29.6863 11.0282L22.1862 3.52805C21.7677 3.10969 21.0893 3.10981 20.671 3.5283C20.4701 3.7292 20.3573 4.00154 20.3572 4.28562V7.49996H12.8571C12.2653 7.49996 11.7856 7.97966 11.7856 8.57142C11.7856 9.16319 12.2653 9.64289 12.8571 9.64289H21.4287C22.0205 9.64289 22.5002 9.16319 22.5002 8.57142V6.87203L27.4138 11.7857L22.5002 16.6994V15C22.5002 14.4083 22.0205 13.9286 21.4287 13.9286H9.64276V10.7142C9.64263 10.1225 9.16281 9.64289 8.57111 9.64301C8.28709 9.64308 8.01469 9.75589 7.81379 9.95673L0.313712 17.4569C-0.104591 17.8753 -0.104591 18.5535 0.313712 18.9719L7.81385 26.472C8.01475 26.673 8.28721 26.7859 8.57136 26.786C8.71217 26.7864 8.85173 26.7587 8.98169 26.7046C9.38197 26.5386 9.64289 26.1479 9.64276 25.7145V22.5002H17.1429C17.7347 22.5002 18.2144 22.0205 18.2144 21.4287C18.2144 20.8369 17.7347 20.3572 17.1429 20.3572H8.57136C7.97959 20.3572 7.49989 20.8369 7.49989 21.4287V23.128L2.58622 18.2144L7.49989 13.3007V15C7.49989 15.5918 7.97959 16.0715 8.57136 16.0715H20.3572V19.2858C20.3574 19.8776 20.8372 20.3572 21.4289 20.3571C21.7129 20.357 21.9853 20.2442 22.1862 20.0433L29.6863 12.5432C30.1046 12.1248 30.1046 11.4466 29.6863 11.0282Z"
                                        fill="#757575" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_465_912">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="pt-3 m-2">
                            <h6 class="fw-bolder">Transfer Notes</h6>
                            @{
                                if (Model.transferNotes != null && Model.transferNotes.Any())
                                {
                                    <p class="notesText pointer" onclick="showPopup()"> @Model.transferNotes[0] </p>
                                    if (Model.transferNotes.Count() > 1)
                                    {

                                        <div id="popup" class="popup shadow-lg" style="display: none;">
                                            <h4 class="fw-bold my-2">All Transfered notes</h4>
                                            @foreach (var note in Model.transferNotes)
                                            {

                                                <p class="my-3 fw-6"><i class="bi bi-stickies"></i> @note </p>
                                            }

                                        </div>
                                    }
                                }
                                else
                                {
                                    <p class="notesText"> No transfer Notes Available </p>
                                }
                            }
                        </div>
                        <script>
                            function showPopup() {
                                var popup = document.getElementById("popup");
                                var overlay = document.getElementById("overlay")
                                popup.style.display = "block";
                                overlay.style.display = "block";
                            }
                            let overlay = document.getElementById("overlay");
                            overlay.addEventListener("click", function () {
                                var popup = document.getElementById("popup");
                                var overlay = document.getElementById("overlay")
                                popup.style.display = "none";
                                overlay.style.display = "none";
                            })
                        </script>

                    </div>
                </div>

                <div class="col-md-6 shadow rounded-3 p-2 d-flex">
                    <div class="m-2 pt-3">
                        <svg width="35" height="35" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_465_902)">
                                <path
                                    d="M20.999 5.99998C20.999 2.69219 18.3068 0 14.999 0C11.6912 0 8.99903 2.69221 8.99903 5.99998C8.99903 6.1676 9.00526 6.33707 9.0166 6.50875C9.04591 7.18718 10.0688 7.12422 10.0147 6.44716C10.0052 6.29484 9.99897 6.14541 9.99897 5.99992C9.99897 3.23259 12.2316 0.9999 14.999 0.9999C17.7663 0.9999 19.999 3.23257 19.999 5.99992C19.999 6.61887 19.9105 7.29331 19.7509 7.99309C19.6672 8.00254 19.5803 8.01309 19.498 8.03501V7.49989C19.499 7.22366 19.2762 6.9989 18.9999 6.99792H17.9999C16.8692 6.99792 16.4716 5.84265 16.4716 5.84265C16.4015 5.62931 16.1979 5.4894 15.9736 5.49985C15.7669 5.5093 15.588 5.64613 15.5234 5.84265C15.5234 5.84265 15.1242 6.99792 13.999 6.99792H10.998C10.7217 6.99892 10.4988 7.22366 10.4999 7.49989V8.03697C9.56278 7.78509 8.49989 8.47818 8.49989 9.49207C8.49989 10.9458 9.52904 11.8691 10.7509 11.9862C11.0039 12.7139 11.4403 13.3533 12.0018 13.8553V16.5008C12.0014 16.605 12.0334 16.7068 12.0936 16.7918L14.5927 20.2909C14.792 20.5716 15.2088 20.5716 15.4081 20.2909L17.9071 16.7918C17.9673 16.7068 17.9994 16.6049 17.9989 16.5008V13.8573C18.5606 13.356 18.9971 12.7168 19.2499 11.9891C20.4052 11.8718 21.4989 10.9883 21.4989 9.49155C21.4989 8.93568 21.1589 8.46364 20.7313 8.21276C20.9033 7.45732 20.999 6.70887 20.999 5.99998ZM16 7.00391C16.3178 7.43157 16.9591 7.99805 18 7.99805H18.498V10.501C18.498 12.4486 16.9467 14 14.999 14C13.0514 14 11.5 12.4486 11.5 10.501V7.99805H13.999C15.0415 7.99805 15.641 7.45421 16 7.00391ZM20.4951 9.51168C20.501 10.2644 20.0366 10.7625 19.4775 10.9268C19.5172 10.3476 19.498 9.15816 19.498 9.15816C19.7486 8.85802 20.491 8.97807 20.4951 9.51168ZM10.5 9.16796C10.4961 9.74528 10.4906 10.3784 10.5215 10.9268C9.96242 10.7625 9.50393 10.2327 9.50393 9.51174C9.50393 8.98587 10.2618 8.84364 10.5 9.16796ZM13.002 14.5342C13.6037 14.8321 14.2811 15 14.999 15C15.7176 15 16.3964 14.8318 16.999 14.5342V16.3379L14.998 19.1358L13.002 16.3379V14.5342ZM10.5 16C6.90766 16 4 18.9077 4 22.5V29.5C4.00003 29.7761 4.22387 30 4.5 30H25.5C25.7761 30 26 29.7761 26 29.5V22.5C26 18.9077 23.0923 16 19.5 16C18.8238 15.9905 18.8238 17 19.501 17L19.502 20.5518C18.3627 20.7835 17.501 21.794 17.501 23V23.4981C17.4863 24.1793 18.501 24.1794 18.501 23.4981V23C18.501 22.1603 19.1604 21.5019 20 21.5019C20.8397 21.5019 21.4981 22.1603 21.4981 23V23.4981C21.4828 24.1798 22.5134 24.1798 22.4981 23.4981V23C22.4981 21.7957 21.6389 20.7864 20.502 20.5527V17.0947C23.072 17.5616 25 19.7875 25 22.5V26.001H22.498V25.499C22.498 24.8096 21.498 24.8505 21.498 25.499V29H8.49903V25.499C8.49903 24.8259 7.49805 24.828 7.49805 25.499V26.001H5V22.5C5 19.7872 6.92847 17.5612 9.49903 17.0947V21.0928C8.92032 21.3013 8.49903 21.8519 8.49903 22.498C8.49903 23.3205 9.17848 24 10.001 24C10.8235 24 11.5 23.3205 11.5 22.498C11.5 21.8507 11.0784 21.2995 10.499 21.0918L10.4995 17C11.1762 17.0094 11.1762 15.9904 10.5 16ZM10.001 22C10.283 22 10.499 22.216 10.499 22.498C10.499 22.7801 10.283 23 10.001 23C9.71891 23 9.49903 22.7801 9.49903 22.498C9.49903 22.216 9.71891 22 10.001 22ZM5 27.0019H7.49805V29H5V27.0019ZM22.498 27.0019H25V29H22.498V27.0019Z"
                                    fill="#757575" />
                            </g>
                            <defs>
                                <clipPath id="clip0_465_902">
                                    <rect width="35" height="35" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="pt-3 m-2">
                        <h6 class="fw-bolder">Physician Notes</h6>
                        <p class="notesText">@(@Model.physicianNote == null ? "-" : Model.physicianNote)</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="shadow rounded-3 p-2 d-flex h-100 w-100">
                    <div class="m-2 pt-3">
                        <svg width="35" height="35" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_465_900)">
                                <path
                                    d="M23.4094 19.7527L20.137 18.7621L19.1487 17.339C18.988 17.1065 18.6727 17.0404 18.4308 17.1869V16.1001C18.7497 15.8325 19.0345 15.5273 19.2864 15.1954C20.3405 14.7852 21.1188 13.8236 21.2655 12.6654C22.9427 12.1344 23.2998 9.70052 21.8277 8.71996C22.1568 7.86323 22.2621 5.47982 22.2672 4.91113C22.0735 1.57448 18.3666 -0.773446 15.2176 0.236664C15.2177 0.236573 11.6464 1.2813 11.6464 1.2813C8.55798 1.29881 7.46071 2.37465 7.46071 5.36554V9.16625C7.16195 9.54916 6.97652 10.0244 6.97652 10.5465C6.97131 11.8646 8.11084 12.8932 9.41669 12.8046C9.64554 14.1218 10.3363 15.2816 11.3212 16.1057V17.1869C11.0762 17.038 10.756 17.1088 10.5975 17.3474L9.65211 18.7657L6.34461 19.7519C4.9642 20.1637 4 21.4573 4 22.8978V29.4634C4 29.7591 4.23975 29.9988 4.53543 29.9988C9.69024 29.9924 20.0629 30.0035 25.2165 29.9988C25.5122 29.9988 25.7519 29.7591 25.7519 29.4634V22.8978C25.7519 21.4573 24.7878 20.1637 23.4094 19.7527ZM18.5505 18.355L19.1788 19.2601L17.9236 21.6667L15.8383 19.9252L18.5505 18.355ZM20.5114 11.7337H20.4167V9.35933C22.0437 9.29468 22.1374 11.6784 20.5114 11.7337ZM11.7238 2.3519C11.7747 2.3519 11.8252 2.34458 11.8741 2.33046L15.517 1.26483C18.0212 0.450949 21.039 2.32114 21.1986 4.97031C21.1429 5.75997 21.1277 7.42134 20.831 8.32077C20.6983 8.29943 20.5541 8.28351 20.4167 8.28847C20.4167 8.28846 20.4167 6.14438 20.4167 6.14438C20.4167 5.86019 20.195 5.62568 19.9113 5.60973C18.5396 5.53287 17.5725 5.32581 16.9547 4.97652C16.7652 4.86958 16.5312 4.88762 16.3597 5.02201C14.7813 6.26673 12.7091 6.46647 10.0234 5.63299C9.86021 5.58253 9.68374 5.6126 9.54701 5.71325C9.41001 5.81417 9.32922 5.97417 9.32922 6.14437V8.28846C9.05531 8.27933 8.78067 8.32687 8.53157 8.41173V5.36553C8.53157 2.97151 9.18779 2.3519 11.7238 2.3519ZM8.04738 10.5465C8.04453 9.85402 8.64303 9.31311 9.32923 9.35933C9.32923 9.35932 9.32923 11.7337 9.32923 11.7337C8.64304 11.7799 8.04451 11.2391 8.04738 10.5465ZM10.4001 11.8545C10.4116 10.6665 10.3918 8.01962 10.4001 6.85239C12.9476 7.50178 15.0783 7.24008 16.7453 6.0696C17.3968 6.36424 18.2405 6.55039 19.3458 6.64373C19.3494 7.88579 19.3433 10.5936 19.3458 11.8545C19.3458 12.7486 19.0794 13.5804 18.6257 14.2799C18.4728 14.316 18.3155 14.3398 18.1518 14.3398H16.8305C16.87 14.0107 16.6388 13.6965 16.2951 13.6993H14.1008C13.8051 13.6993 13.5654 13.939 13.5654 14.2347V15.5158C13.5654 15.8115 13.8051 16.0512 14.1008 16.0512H16.2951C16.6386 16.0535 16.8703 15.7399 16.8305 15.4107C16.8305 15.4107 17.5747 15.4107 17.5747 15.4107C16.823 15.9831 15.8885 16.3273 14.8728 16.3273C12.4066 16.3273 10.4001 14.3207 10.4001 11.8545ZM15.7596 14.9803H14.6362V14.7701H15.7596V14.9803ZM12.392 16.805C13.8681 17.5885 15.8849 17.5871 17.3599 16.8019V17.8069L14.876 19.2451L12.392 17.8069V16.805ZM11.2098 18.3597L13.9136 19.9252L11.8333 21.6622L10.6098 19.2599L11.2098 18.3597ZM5.07086 22.8978C5.07086 21.9271 5.72054 21.0557 6.65049 20.7783L9.7159 19.8641L11.1839 22.7467C11.3275 23.0481 11.7538 23.1346 12.0043 22.9148C12.0043 22.9148 14.368 20.9411 14.368 20.9411L14.3393 28.928H5.07087L5.07086 22.8978ZM24.6811 28.928H15.4101L15.4386 20.9867L17.7476 22.9148C17.998 23.1342 18.4191 23.0491 18.5657 22.7514C18.5657 22.7514 20.0729 19.8617 20.0729 19.8617L23.1014 20.7783C24.0314 21.0557 24.6811 21.9271 24.6811 22.8978L24.6811 28.928Z"
                                    fill="#757575" />
                            </g>
                            <defs>
                                <clipPath id="clip0_465_900">
                                    <rect width="35" height="35" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="pt-3 m-2">
                        <h6 class="fw-bolder">Admin Notes</h6>
                        <p class="notesText">@Model.adminNote</p>
                    </div>
                </div>
                </div>

                @if(Model.adminCancelationNote != null)
                {
                    <div class="col-md-6 shadow rounded-3 p-2 d-flex">
                        <div class="m-2 pt-3">
                            <svg width="35" height="35" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_465_900)">
                                    <path d="M23.4094 19.7527L20.137 18.7621L19.1487 17.339C18.988 17.1065 18.6727 17.0404 18.4308 17.1869V16.1001C18.7497 15.8325 19.0345 15.5273 19.2864 15.1954C20.3405 14.7852 21.1188 13.8236 21.2655 12.6654C22.9427 12.1344 23.2998 9.70052 21.8277 8.71996C22.1568 7.86323 22.2621 5.47982 22.2672 4.91113C22.0735 1.57448 18.3666 -0.773446 15.2176 0.236664C15.2177 0.236573 11.6464 1.2813 11.6464 1.2813C8.55798 1.29881 7.46071 2.37465 7.46071 5.36554V9.16625C7.16195 9.54916 6.97652 10.0244 6.97652 10.5465C6.97131 11.8646 8.11084 12.8932 9.41669 12.8046C9.64554 14.1218 10.3363 15.2816 11.3212 16.1057V17.1869C11.0762 17.038 10.756 17.1088 10.5975 17.3474L9.65211 18.7657L6.34461 19.7519C4.9642 20.1637 4 21.4573 4 22.8978V29.4634C4 29.7591 4.23975 29.9988 4.53543 29.9988C9.69024 29.9924 20.0629 30.0035 25.2165 29.9988C25.5122 29.9988 25.7519 29.7591 25.7519 29.4634V22.8978C25.7519 21.4573 24.7878 20.1637 23.4094 19.7527ZM18.5505 18.355L19.1788 19.2601L17.9236 21.6667L15.8383 19.9252L18.5505 18.355ZM20.5114 11.7337H20.4167V9.35933C22.0437 9.29468 22.1374 11.6784 20.5114 11.7337ZM11.7238 2.3519C11.7747 2.3519 11.8252 2.34458 11.8741 2.33046L15.517 1.26483C18.0212 0.450949 21.039 2.32114 21.1986 4.97031C21.1429 5.75997 21.1277 7.42134 20.831 8.32077C20.6983 8.29943 20.5541 8.28351 20.4167 8.28847C20.4167 8.28846 20.4167 6.14438 20.4167 6.14438C20.4167 5.86019 20.195 5.62568 19.9113 5.60973C18.5396 5.53287 17.5725 5.32581 16.9547 4.97652C16.7652 4.86958 16.5312 4.88762 16.3597 5.02201C14.7813 6.26673 12.7091 6.46647 10.0234 5.63299C9.86021 5.58253 9.68374 5.6126 9.54701 5.71325C9.41001 5.81417 9.32922 5.97417 9.32922 6.14437V8.28846C9.05531 8.27933 8.78067 8.32687 8.53157 8.41173V5.36553C8.53157 2.97151 9.18779 2.3519 11.7238 2.3519ZM8.04738 10.5465C8.04453 9.85402 8.64303 9.31311 9.32923 9.35933C9.32923 9.35932 9.32923 11.7337 9.32923 11.7337C8.64304 11.7799 8.04451 11.2391 8.04738 10.5465ZM10.4001 11.8545C10.4116 10.6665 10.3918 8.01962 10.4001 6.85239C12.9476 7.50178 15.0783 7.24008 16.7453 6.0696C17.3968 6.36424 18.2405 6.55039 19.3458 6.64373C19.3494 7.88579 19.3433 10.5936 19.3458 11.8545C19.3458 12.7486 19.0794 13.5804 18.6257 14.2799C18.4728 14.316 18.3155 14.3398 18.1518 14.3398H16.8305C16.87 14.0107 16.6388 13.6965 16.2951 13.6993H14.1008C13.8051 13.6993 13.5654 13.939 13.5654 14.2347V15.5158C13.5654 15.8115 13.8051 16.0512 14.1008 16.0512H16.2951C16.6386 16.0535 16.8703 15.7399 16.8305 15.4107C16.8305 15.4107 17.5747 15.4107 17.5747 15.4107C16.823 15.9831 15.8885 16.3273 14.8728 16.3273C12.4066 16.3273 10.4001 14.3207 10.4001 11.8545ZM15.7596 14.9803H14.6362V14.7701H15.7596V14.9803ZM12.392 16.805C13.8681 17.5885 15.8849 17.5871 17.3599 16.8019V17.8069L14.876 19.2451L12.392 17.8069V16.805ZM11.2098 18.3597L13.9136 19.9252L11.8333 21.6622L10.6098 19.2599L11.2098 18.3597ZM5.07086 22.8978C5.07086 21.9271 5.72054 21.0557 6.65049 20.7783L9.7159 19.8641L11.1839 22.7467C11.3275 23.0481 11.7538 23.1346 12.0043 22.9148C12.0043 22.9148 14.368 20.9411 14.368 20.9411L14.3393 28.928H5.07087L5.07086 22.8978ZM24.6811 28.928H15.4101L15.4386 20.9867L17.7476 22.9148C17.998 23.1342 18.4191 23.0491 18.5657 22.7514C18.5657 22.7514 20.0729 19.8617 20.0729 19.8617L23.1014 20.7783C24.0314 21.0557 24.6811 21.9271 24.6811 22.8978L24.6811 28.928Z"
                                          fill="#757575" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_465_900">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="pt-3 m-2">
                            <h6 class="fw-bolder">Admin Cancellation Notes</h6>
                            <p class="notesText">@Model.adminCancelationNote</p>
                        </div>
                    </div>
                }

                @if (Model.physicianCancelationNote != null)
                {
                    <div class="col-md-6 shadow rounded-3 p-2 d-flex">
                        <div class="m-2 pt-3">
                            <svg width="35" height="35" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_465_900)">
                                    <path d="M23.4094 19.7527L20.137 18.7621L19.1487 17.339C18.988 17.1065 18.6727 17.0404 18.4308 17.1869V16.1001C18.7497 15.8325 19.0345 15.5273 19.2864 15.1954C20.3405 14.7852 21.1188 13.8236 21.2655 12.6654C22.9427 12.1344 23.2998 9.70052 21.8277 8.71996C22.1568 7.86323 22.2621 5.47982 22.2672 4.91113C22.0735 1.57448 18.3666 -0.773446 15.2176 0.236664C15.2177 0.236573 11.6464 1.2813 11.6464 1.2813C8.55798 1.29881 7.46071 2.37465 7.46071 5.36554V9.16625C7.16195 9.54916 6.97652 10.0244 6.97652 10.5465C6.97131 11.8646 8.11084 12.8932 9.41669 12.8046C9.64554 14.1218 10.3363 15.2816 11.3212 16.1057V17.1869C11.0762 17.038 10.756 17.1088 10.5975 17.3474L9.65211 18.7657L6.34461 19.7519C4.9642 20.1637 4 21.4573 4 22.8978V29.4634C4 29.7591 4.23975 29.9988 4.53543 29.9988C9.69024 29.9924 20.0629 30.0035 25.2165 29.9988C25.5122 29.9988 25.7519 29.7591 25.7519 29.4634V22.8978C25.7519 21.4573 24.7878 20.1637 23.4094 19.7527ZM18.5505 18.355L19.1788 19.2601L17.9236 21.6667L15.8383 19.9252L18.5505 18.355ZM20.5114 11.7337H20.4167V9.35933C22.0437 9.29468 22.1374 11.6784 20.5114 11.7337ZM11.7238 2.3519C11.7747 2.3519 11.8252 2.34458 11.8741 2.33046L15.517 1.26483C18.0212 0.450949 21.039 2.32114 21.1986 4.97031C21.1429 5.75997 21.1277 7.42134 20.831 8.32077C20.6983 8.29943 20.5541 8.28351 20.4167 8.28847C20.4167 8.28846 20.4167 6.14438 20.4167 6.14438C20.4167 5.86019 20.195 5.62568 19.9113 5.60973C18.5396 5.53287 17.5725 5.32581 16.9547 4.97652C16.7652 4.86958 16.5312 4.88762 16.3597 5.02201C14.7813 6.26673 12.7091 6.46647 10.0234 5.63299C9.86021 5.58253 9.68374 5.6126 9.54701 5.71325C9.41001 5.81417 9.32922 5.97417 9.32922 6.14437V8.28846C9.05531 8.27933 8.78067 8.32687 8.53157 8.41173V5.36553C8.53157 2.97151 9.18779 2.3519 11.7238 2.3519ZM8.04738 10.5465C8.04453 9.85402 8.64303 9.31311 9.32923 9.35933C9.32923 9.35932 9.32923 11.7337 9.32923 11.7337C8.64304 11.7799 8.04451 11.2391 8.04738 10.5465ZM10.4001 11.8545C10.4116 10.6665 10.3918 8.01962 10.4001 6.85239C12.9476 7.50178 15.0783 7.24008 16.7453 6.0696C17.3968 6.36424 18.2405 6.55039 19.3458 6.64373C19.3494 7.88579 19.3433 10.5936 19.3458 11.8545C19.3458 12.7486 19.0794 13.5804 18.6257 14.2799C18.4728 14.316 18.3155 14.3398 18.1518 14.3398H16.8305C16.87 14.0107 16.6388 13.6965 16.2951 13.6993H14.1008C13.8051 13.6993 13.5654 13.939 13.5654 14.2347V15.5158C13.5654 15.8115 13.8051 16.0512 14.1008 16.0512H16.2951C16.6386 16.0535 16.8703 15.7399 16.8305 15.4107C16.8305 15.4107 17.5747 15.4107 17.5747 15.4107C16.823 15.9831 15.8885 16.3273 14.8728 16.3273C12.4066 16.3273 10.4001 14.3207 10.4001 11.8545ZM15.7596 14.9803H14.6362V14.7701H15.7596V14.9803ZM12.392 16.805C13.8681 17.5885 15.8849 17.5871 17.3599 16.8019V17.8069L14.876 19.2451L12.392 17.8069V16.805ZM11.2098 18.3597L13.9136 19.9252L11.8333 21.6622L10.6098 19.2599L11.2098 18.3597ZM5.07086 22.8978C5.07086 21.9271 5.72054 21.0557 6.65049 20.7783L9.7159 19.8641L11.1839 22.7467C11.3275 23.0481 11.7538 23.1346 12.0043 22.9148C12.0043 22.9148 14.368 20.9411 14.368 20.9411L14.3393 28.928H5.07087L5.07086 22.8978ZM24.6811 28.928H15.4101L15.4386 20.9867L17.7476 22.9148C17.998 23.1342 18.4191 23.0491 18.5657 22.7514C18.5657 22.7514 20.0729 19.8617 20.0729 19.8617L23.1014 20.7783C24.0314 21.0557 24.6811 21.9271 24.6811 22.8978L24.6811 28.928Z"
                                          fill="#757575" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_465_900">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="pt-3 m-2">
                            <h6 class="fw-bolder">Physician Cancellation Notes</h6>
                            <p class="notesText">@Model.physicianCancelationNote</p>
                        </div>
                    </div>
                }

                @if (Model.patientCancelationNote != null)
                {
                    <div class="col-md-6 shadow rounded-3 p-2 d-flex">
                        <div class="m-2 pt-3">
                            <svg width="35" height="35" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_465_900)">
                                    <path d="M23.4094 19.7527L20.137 18.7621L19.1487 17.339C18.988 17.1065 18.6727 17.0404 18.4308 17.1869V16.1001C18.7497 15.8325 19.0345 15.5273 19.2864 15.1954C20.3405 14.7852 21.1188 13.8236 21.2655 12.6654C22.9427 12.1344 23.2998 9.70052 21.8277 8.71996C22.1568 7.86323 22.2621 5.47982 22.2672 4.91113C22.0735 1.57448 18.3666 -0.773446 15.2176 0.236664C15.2177 0.236573 11.6464 1.2813 11.6464 1.2813C8.55798 1.29881 7.46071 2.37465 7.46071 5.36554V9.16625C7.16195 9.54916 6.97652 10.0244 6.97652 10.5465C6.97131 11.8646 8.11084 12.8932 9.41669 12.8046C9.64554 14.1218 10.3363 15.2816 11.3212 16.1057V17.1869C11.0762 17.038 10.756 17.1088 10.5975 17.3474L9.65211 18.7657L6.34461 19.7519C4.9642 20.1637 4 21.4573 4 22.8978V29.4634C4 29.7591 4.23975 29.9988 4.53543 29.9988C9.69024 29.9924 20.0629 30.0035 25.2165 29.9988C25.5122 29.9988 25.7519 29.7591 25.7519 29.4634V22.8978C25.7519 21.4573 24.7878 20.1637 23.4094 19.7527ZM18.5505 18.355L19.1788 19.2601L17.9236 21.6667L15.8383 19.9252L18.5505 18.355ZM20.5114 11.7337H20.4167V9.35933C22.0437 9.29468 22.1374 11.6784 20.5114 11.7337ZM11.7238 2.3519C11.7747 2.3519 11.8252 2.34458 11.8741 2.33046L15.517 1.26483C18.0212 0.450949 21.039 2.32114 21.1986 4.97031C21.1429 5.75997 21.1277 7.42134 20.831 8.32077C20.6983 8.29943 20.5541 8.28351 20.4167 8.28847C20.4167 8.28846 20.4167 6.14438 20.4167 6.14438C20.4167 5.86019 20.195 5.62568 19.9113 5.60973C18.5396 5.53287 17.5725 5.32581 16.9547 4.97652C16.7652 4.86958 16.5312 4.88762 16.3597 5.02201C14.7813 6.26673 12.7091 6.46647 10.0234 5.63299C9.86021 5.58253 9.68374 5.6126 9.54701 5.71325C9.41001 5.81417 9.32922 5.97417 9.32922 6.14437V8.28846C9.05531 8.27933 8.78067 8.32687 8.53157 8.41173V5.36553C8.53157 2.97151 9.18779 2.3519 11.7238 2.3519ZM8.04738 10.5465C8.04453 9.85402 8.64303 9.31311 9.32923 9.35933C9.32923 9.35932 9.32923 11.7337 9.32923 11.7337C8.64304 11.7799 8.04451 11.2391 8.04738 10.5465ZM10.4001 11.8545C10.4116 10.6665 10.3918 8.01962 10.4001 6.85239C12.9476 7.50178 15.0783 7.24008 16.7453 6.0696C17.3968 6.36424 18.2405 6.55039 19.3458 6.64373C19.3494 7.88579 19.3433 10.5936 19.3458 11.8545C19.3458 12.7486 19.0794 13.5804 18.6257 14.2799C18.4728 14.316 18.3155 14.3398 18.1518 14.3398H16.8305C16.87 14.0107 16.6388 13.6965 16.2951 13.6993H14.1008C13.8051 13.6993 13.5654 13.939 13.5654 14.2347V15.5158C13.5654 15.8115 13.8051 16.0512 14.1008 16.0512H16.2951C16.6386 16.0535 16.8703 15.7399 16.8305 15.4107C16.8305 15.4107 17.5747 15.4107 17.5747 15.4107C16.823 15.9831 15.8885 16.3273 14.8728 16.3273C12.4066 16.3273 10.4001 14.3207 10.4001 11.8545ZM15.7596 14.9803H14.6362V14.7701H15.7596V14.9803ZM12.392 16.805C13.8681 17.5885 15.8849 17.5871 17.3599 16.8019V17.8069L14.876 19.2451L12.392 17.8069V16.805ZM11.2098 18.3597L13.9136 19.9252L11.8333 21.6622L10.6098 19.2599L11.2098 18.3597ZM5.07086 22.8978C5.07086 21.9271 5.72054 21.0557 6.65049 20.7783L9.7159 19.8641L11.1839 22.7467C11.3275 23.0481 11.7538 23.1346 12.0043 22.9148C12.0043 22.9148 14.368 20.9411 14.368 20.9411L14.3393 28.928H5.07087L5.07086 22.8978ZM24.6811 28.928H15.4101L15.4386 20.9867L17.7476 22.9148C17.998 23.1342 18.4191 23.0491 18.5657 22.7514C18.5657 22.7514 20.0729 19.8617 20.0729 19.8617L23.1014 20.7783C24.0314 21.0557 24.6811 21.9271 24.6811 22.8978L24.6811 28.928Z"
                                          fill="#757575" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_465_900">
                                        <rect width="35" height="35" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="pt-3 m-2">
                            <h6 class="fw-bolder">Patient Cancellation Notes</h6>
                            <p class="notesText">@Model.patientCancelationNote</p>
                        </div>
                    </div>
                }
                <form id="updateNote" class="col-md-12 shadow rounded-3 p-2 pe-3 text-end">
                    <div class="form-floating w-100 my-3">
                        <input id="requestId" type="text" value="@ViewBag.requestId" class="visually-hidden"></input>
                        <input class="form-control" id="adminNotes" style="height: 100px" value="@Model.adminNote" />
                        <label for="adminNotes" class="text-info">Admin Notes </label>
                    </div>
                    <button class="btn btn-info text-white my-3" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>