@*@{
    ViewData["Title"] = "Schudling";
}
@model HalloDoc_BAL.ViewModel.Admin.CalendarViewModel;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
    <style>
        tr{
            border-bottom: none !important;
        }
        th{
            background: #3c3c3c !important;
            border:none !important;
            border-left: 1px solid gray !important;
            padding: 5px 0px !important;
        }
        /*Calender CSS*/
        .fc-today-button {
            margin: 0px 10px !important;
            background-color: transparent !important;
            border: none !important;
            box-shadow: none;
            background-image: url(../../../images/calendar.png) !important;
            background-size: contain;
            background-repeat: no-repeat;
            width: 45px;
            /* Hide the text. */
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden !important;
        }
        .fc-today-button:hover{
                /* Hide the text. */
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
        }

        .fc-prev-button, .fc-next-button {
            border-radius: 50px !important;
            height: 50px !important;
            width: 50px !important;
            background: #0dcaf0 !important;
            border: 0px !important;
        }

        .fc-col-header-cell-cushion {
            text-decoration: none;
            color: white;
        }

        .fc-daygrid-day-number {
            /* display: block; */
            background: #ff8af2;
            width: 100%;
            text-decoration: none;
            color: black;
        }

        .fc-daygrid-more-link {
            text-decoration: none;
            background: #444444;
            color: white;
            width: 100%;
        }
        .fc-daygrid-more-link:hover{
            color:black;
           background: #444444;            
        }
            </style>
}
@section Scripts {
    <script src="~/js/Partners.js"></script>

    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var shifts = @Html.Raw(Json.Serialize(Model));

            var events = shifts.shifts.map(function (shift) {
                return {
                    title: shift.providerName,
                    start: new Date(shift.startDate),
                    backgroundColor: shift.isPending ? 'red' : 'green',
                    // display: 'background',
                };
            });

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                dayMaxEvents: true,
                events: events,
                eventClick: function (info) {
                    $('#shiftDetailsModal').modal('show');
                    $('#shiftDetailsModalTitle').text('Shift Details');
                    $('#shiftDetailsModalBody').html('<p>Start Date: ' + info.event.start + '</p><p>Status: ' + (info.event.backgroundColor === 'red' ? 'Pending' : 'Approved') + '</p>');
                },
                views: {
                    timeGridWeek: {
                        type: 'timeGridWeek',
                        columnHeaderFormat: { weekday: 'long' }
                    }
                },
                headerToolbar: {
                    left: 'prev,today,next',
                    center: 'title',
                    right: ''
                },               
            });

            calendar.render();

            $('#monthButton').click(function () {
                calendar.changeView('dayGridMonth');
            });

            $('#dateButton').click(function () {
                calendar.changeView('timeGridDay');
            });

            $('#weekButton').click(function () {
                calendar.changeView('timeGridWeek');
            });
        });
    </script>

}

<partial name="_NavBar" />

<h1>Schudling</h1>

<div class=" form_content m-auto mt-5">
    <div class="d-flex justify-content-end">
        <button type="button" id="dateButton" class="btn btn-outline-info hover_white"> Day </button>
        <button type="button" id="weekButton" class="btn btn-outline-info hover_white mx-2"> Week </button>
        <button type="button" id="monthButton" class="btn btn-outline-info hover_white"> Month </button>
    </div>

<div class="mt-5" id="calendar"></div>
</div>



<div class="modal fade" id="shiftDetailsModal" tabindex="-1" role="dialog" aria-labelledby="shiftDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shiftDetailsModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 id="shiftDetailsModalTitle"></h5>
                <div id="shiftDetailsModalBody"></div>
                <!-- Shift details will be inserted here dynamically -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>*@


@model HalloDoc_BAL.ViewModel.Schedule.ScheduleModel;

@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
    <link rel="stylesheet" href="~/css/Calender.css" />
}

@section Scripts
    {
    @if (TempData["Success"] != null)
    {
        <script>
            showToaster("@TempData["Success"]", "success");
        </script>

    }
    @if (TempData["Error"] != null)
    {
        <script>
            showToaster("@TempData["Error"]", "error");
        </script>

    }

    <script src="~/js/Scheduling/scheduling.js"></script>
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}


<partial name="_NavBar" />
<div class="form_content m-auto mt-5 mb-5">
    <div class="justify-content-between d-flex container-fluid  position-relative mt-5">
        <div class="">
            <h3 class="fw-bolder">
                Scheduling
            </h3>
        </div>
        <div class="">
            <a href="history.back()" class="btn btn-outline-info"> ❮  Back </a>
        </div>
    </div>
    <div class=" border-0  py-1 mx-3 mt-3 rounded">
        <div class="row">
            <div class="col-md-3 mt-2">
                    <select class="p-2 mt-3 px-4 form-control mb-3 w-100 " id="fregion">
                        <option value="0">All</option>
                        @foreach (var region in @ViewBag.regions)
                        {
                            <option value="@region.Regionid">@region.Name - (@region.Abbreviation)</option>
                        }
                    </select>
            </div>

            <div class="col-md-9 mt-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-info text-white mx-2">
                        Provider On Call
                    </a>
                    <a class="btn btn-info text-white  mx-2">
                        Shift Review
                    </a>
                <button class="btn btn-info text-white mx-2 open-modal">Add New Shift  </button>
            </div>
        </div>

        <div class="row my-4">
            <div class="col-md-7 mt-2">
                <div class="calendar-current-date fs-4 fw-bolder"></div>
                <div class="text-start my-3 calendar-navigation">
                    <span id="calendar-prev" class="btn btn-info text-white rounded-circle">❮</span>
                    <span class="mx-3"><i class="fa-regular fa-calendar-days"></i></span>
                    <span id="calendar-next" class="btn btn-info text-white rounded-circle">❯</span>
                </div>
            </div>
            <div class="col-md-5 mt-3">
                <div class="d-flex justify-content-end">
                    <div class="alert alert-panding mx-1 px-4" role="alert">
                    </div>
                    <span class="m-1">Panding Shifts</span>
                    <div class="alert alert-success mx-1 px-4" role="alert">
                    </div>
                    <span class="m-1">Appoved Shifts</span>

                </div>
                <div class="d-flex justify-content-end">
                    <div id="day" class="btn btn-outline-info hover_white mx-2">
                        Day
                    </div>
                    <div id="week" class="btn btn-outline-info hover_white mx-2">
                        Week
                    </div>
                    <div id="month" class="btn btn-outline-info hover_white mx-2">
                        Month
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="monthcontainer" class="calendar-body  calendar-container">
        <table class="calendar-table w-100 ">
            <thead>
                <tr class="calendar-weekdays">
                    <!-- Weekday headers will be populated dynamically -->
                </tr>
            </thead>
            <tbody class="calendar-dates">
                <!-- Calendar dates will be populated dynamically -->
            </tbody>
        </table>
    </div>


    <div style="display:none" id="weekviewcontainer" class="active">

        <table style="width:100%;">
            <thead>
                <tr class="weekhead">
                    <td>Staf</td>
                    <td class="title" data-name="Sun">Sun</td>
                    <td class="title" data-name="Mon">Mon</td>
                    <td class="title" data-name="Tue">Tue</td>
                    <td class="title" data-name="Wed">Wed</td>
                    <td class="title" data-name="Thu">Thu</td>
                    <td class="title" data-name="Fri">Fri</td>
                    <td class="title" data-name="Sat">Sat</td>
                </tr>

                <tr class="Converage">
                    <td>Converage</td>
                    <td class="" data-name="Sun">0/24</td>
                    <td class="" data-name="Mon">0/24</td>
                    <td class="" data-name="Tue">0/24</td>
                    <td class="" data-name="Wed">0/24</td>
                    <td class="" data-name="Thu">0/24</td>
                    <td class="" data-name="Fri">0/24</td>
                    <td class="" data-name="Sat">0/24</td>
                </tr>
            </thead>

            <tbody class="main">
            </tbody>
        </table>
    </div>

    <div id="daycontainer" style="display:none;">
        <div class="schedule">
            <table class="employee-schedules w-100">
                <thead class="employee-schedules-thead">
                    <tr>
                        <td>Staff</td>
                        <td>12 A</td>
                        <td>1 A</td>
                        <td>2 A</td>
                        <td>3 A</td>
                        <td>4 A</td>
                        <td>5 A</td>
                        <td>6 A</td>
                        <td>7 A</td>
                        <td>8 A</td>
                        <td>9 A</td>
                        <td>10 A</td>
                        <td>11 A</td>
                        <td>12 P</td>
                        <td>1 P</td>
                        <td>2 P</td>
                        <td>3 P</td>
                        <td>4 P</td>
                        <td>5 P</td>
                        <td>6 P</td>
                        <td>7 P</td>
                        <td>8 P</td>
                        <td>9 P</td>
                        <td>10 P</td>
                        <td>11 P</td>
                    </tr>
                    <tr class="Converage">
                        <td>Converage</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </thead>
                <tbody class="employee-schedules-table">
                </tbody>
            </table>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-center text-white">
                <h1 class="modal-title fs-5" id="model-head"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Admin/Scheduling/_createShift.cshtml" model="Model" />
