@model List<HalloDoc.Models.DashboardViewModel>

@{
    ViewData["Title"] = "Welcome to Dashboard";
}
@section DashboardCSS {
    <link rel="stylesheet" href="~/css/dashboard.css" />
    <style>
        
        .accordion-button:not(.collapsed) {
            color: black;
            background-color: #00d5ff3d;
        }

        @@media only screen and (max-width: 575px) {
            #requesttable {
                display: none;
            }
            

        }
    </style>
}

@section NavbarScript {
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}

@section Scripts {
    <script>
        document.getElementById("continueButton").addEventListener("click", function () {
            var selectedOption = document.querySelector('input[name="options-outlined"]:checked').id;
            if (selectedOption === "success-outlined") {

                window.location.href = "/Dashboard/RequestForme";
            } else if (selectedOption === "danger-outlined") {
                window.location.href = "/Dashboard/RequestForSomeone";
            }
        });

    </script>
}

<main class=" mt-5 w-95 m-auto">
    <h4 class="fw-bolder ">
        Medical History
    </h4>

    <div class="d-flex flex-column  shadow  rounded-4 mt-4">
        <div class="align-self-end p-3 px-4">
            <button class="btn btn-outline-info hover_white" id="newRequest" data-bs-toggle="modal"
                data-bs-target="#create_new">
                <strong class="desktop_d_none">+</strong> <span class="mobile_d_none">Create New
                    Request</span>
            </button>

        </div>

        <div class="">
            <table id="requesttable" class="w-100 table" cellspacing="15" cellspadding="15">
                <thead>
                    <tr class="table-light">
                        <th class="w-25">Created Date <i class="bi bi-arrow-down"></i></th>
                        <th class="w-50">Current Status</th>
                        <th>Document</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div>@item.requestDate.DayOfWeek @item.requestDate.Day , @item.requestDate.Year </div>
                            </td>
                            <td>
                                <div>@item.statusString </div>
                            </td>
                            <td>
                                @if (@item.DocumentCount != 0)
                                {
                                    <a href="@Url.Action("DocumentView" , "Dashboard" , new {Requestid = item.Requestid})"
                                        class="btn btn-outline-info hover_white"> (@item.DocumentCount) Documents</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="accordion d-block d-sm-none" id="accordionExample">
                @{
                    var accountCount = 0;
                    foreach (var item in Model)
                    {
                        var accountId = "collapse" + accountCount;
                        var accountHeaderId = "collapseHeader" + accountCount;
                        accountCount = accountCount + 1;

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@accountHeaderId">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#@accountId" aria-expanded="false" aria-controls="collapseOne">
                                    @{
                                        <div class="me-2"><i class="fa-regular fa-clock text-info"></i></div>
                                        <div>Created Date: </div>
                                        <div class="mx-2">@item.requestDate.DayOfWeek @item.requestDate.Day ,
                                            @item.requestDate.Year</div>
                                    }
                                </button>
                            </h2>
                            <div id="@accountId" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample" style="">
                                <div class="accordion-body">
                                    <div class="container-fluid mb-2 p-0 d-flex flex-row align-items-center">
                                        <button class="col-auto me-2"
                                            style="border:1px solid #0dcaf0;border-radius:50%;background:transparent;">
                                            <i class="fa-solid fa-user fa-sm" style="color: #0dcaf0;"></i>
                                        </button>
                                        <div class="col-auto">
                                            Provider :
                                        </div>
                                        <div class="col-auto mx-2">--</div>
                                    </div>

                                    <div class="container-fluid p-0 d-flex flex-row">
                                        <button class="col-auto me-2"
                                            style="border:1px solid #0dcaf0;border-radius:50%;background:transparent;">
                                            <i class="fa-solid fa-check fa-sm" style="color: #0dcaf0;"></i>
                                        </button>
                                        <div class="col-auto">
                                            Current Status :
                                        </div>
                                        <div class="col-auto mx-2">@item.statusString</div>
                                    </div>

                                    <div class="container-fluid p-0 d-flex flex-row my-2">

                                        @if (item.DocumentCount != 0)
                                        {
                                            <a href="@Url.Action("DocumentView" , "Dashboard" , new {Requestid = item.Requestid})"
                                                class="btn btn-outline-info border-1 hover_white w-100 my-1"> (@item.DocumentCount) Documents</a>
                                        }
                                        else
                                        {
                                            <div></div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

        </div>
    </div>
</main>






<div class="modal fade" id="create_new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content border-0">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Request</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <p>
                    Here, I want to create new request for...
                </p>
                <div class="text-center">
                    <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-info mx-2" for="success-outlined">Me</label>

                    <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined"
                        autocomplete="off">
                    <label class="btn btn-outline-info mx-2" for="danger-outlined">Some one else</label>
                </div>
            </div>
            <div class="modal-footer">
                <input value="Continue" id="continueButton" type="button" class="btn btn-outline-info hover_white">
                <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>