@model HalloDoc_BAL.ViewModel.Patient.UserDataviewModel;

@section DashboardCSS {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

@section NavbarScript {
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}

@section UserProfileScript {
    <script src="~/js/userProfile.js" ></script>
}

<div class="my-5 container m-auto">
    <div class="mt-4 w-95 m-auto">
        <div class="d-flex justify-content-between">
            <h3 class="fw-bold">User profile</h3>
            <a href="./index" class="btn btn-lg btn-outline-info hover_white ms-5">
                <i class="fa-solid fa-chevron-left"></i> Back
            </a>
        </div>
        <div class="shadow p-3 mt-3 rounded-2">
            <form id="updateUser">
                <div class="row">
                    <input id="userid" name="userid" value="@Model.userid" class="visually-hidden">
                    <!-- General Information -->
                    <h5 class="col-12 fw-bold my-3">General Information</h5>
                    <div class="form-floating col-md-6 my-3">
                        <input id="FirstName" name="FirstName" type="text" class="form-control togleInput readonly" value="@Model.FirstName" readonly>
                        <label for="FirstName" class="control-label ms-3">First Name</label>
                    </div>
                    <div class="form-floating col-md-6 my-3">
                        <input id="LastName" name="LastName" type="text" class="form-control togleInput readonly" value="@Model.LastName" readonly>
                        <label for="LastName" class="control-label ms-3">Last Name</label>
                    </div>
                    <div class="form-floating col-md-6 my-3">
                        <input id="DateOfBirth" name="DateOfBirth" type="date" class="form-control togleInput readonly" value="@Model.DateOfBirth" readonly>
                        <label for="DateOfBirth" class="control-label ms-3">Date Of Birth</label>
                    </div>
                    <!-- Contact Information -->
                    <h5 class="col-12 fw-bold my-3">Contact Information</h5>
                    <div class="form-floating col-md-6 my-3">
                        <input id="Email" name="Email" type="email" class="form-control notallowed" value="@Model.Email" readonly>
                        <label for="Email" class="control-label ms-3">Email</label>
                    </div>
                    <div class="form-floating col-md-6 my-3">
                        <input id="PhoneNumber" name="PhoneNumber" type="tel" class="form-control togleInput readonly" value="@Model.PhoneNumber" readonly>
                        <label for="PhoneNumber" class="control-label ms-3">Phone Number</label>
                    </div>
                    <!-- Location Information -->
                    <h5 class="col-12 fw-bold my-3">Location Information</h5>
                    <div class="form-floating col-md-6 my-3">
                        <input id="Street" name="Street" type="text" class="form-control togleInput readonly" value="@Model.Street" readonly>
                        <label for="Street" class="control-label ms-3">Street</label>
                    </div>
                    <div class="form-floating col-md-6 my-3">
                        <input id="City" name="City" type="text" class="form-control togleInput readonly" value="@Model.City" readonly>
                        <label for="City" class="control-label ms-3">City</label>
                    </div>
                    <div class="form-floating col-md-6 my-3">
                        <input id="State" name="State" type="text" class="form-control togleInput readonly" value="@Model.State" readonly>
                        <label for="State" class="control-label ms-3">State</label>
                    </div>
                    <div class="form-floating col-md-4 my-3">
                        <input id="ZipCode" name="ZipCode" type="text" class="form-control togleInput readonly" value="@Model.ZipCode" readonly>
                        <label for="ZipCode" class="control-label ms-3">Zip Code</label>
                    </div>
                    @{
                        var googleMapsLink = $"https://www.google.com/maps/search/?api=1&query={Uri.EscapeDataString(Model.Street)},{Uri.EscapeDataString(Model.City)},{Uri.EscapeDataString(Model.State)},{Uri.EscapeDataString(Model.ZipCode)}";
                    }
                    <div class="col-md-2 my-auto">
                        <a href="@googleMapsLink" target="_blank" class="btn btn-outline-info btn-lg hover_white">
                            <i class="bi bi-geo-alt-fill"></i> Map
                        </a>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-5 mb-2 me-2">
                    <button type="submit" class="btn btn-info btn-lg text-white" id="editButton">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
