@model List<HalloDoc.Models.DashboardViewModel>

@{
    ViewData["Title"] = "Welcome to Dashboard";
}
@section DashboardCSS{
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

@section NavbarScript {
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}

<main class=" mt-5 w-95 m-auto">
    <h4 class="fw-bolder ">
        Medical History
    </h4>

    <div class="d-flex flex-column  shadow  rounded-4 mt-4">
        <div class="align-self-end p-3 px-4">
            <button class="btn btn-large btn-outline-info p-2 px-3 ">Create New Request</button>
        </div>

        <div class="overflow-x-scroll ">
            <table class="w-100 table" cellspacing="15" cellspadding="15">
                <thead>
                <tr class="table-light">
                    <th class="w-25">Created Date <i class="bi bi-arrow-down"></i></th>
                    <th class="w-60">Current Status</th>
                    <th>Document</th>
                </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.requestDate.DayOfWeek @item.requestDate.Day , @item.requestDate.Year </td>
                            <td>@item.statusString</td>
                            <td>
                                @if (@item.DocumentCount != 0)
                                {
                                @*<a href="@item.documentPath" class="btn btn-outline-info " target ="_blank">(1) Documents</a>*@
                                    <a href="@Url.Action("DocumentView" , "Patient" , new {Requestid = item.Requestid})" class="btn btn-outline-info "> (@item.DocumentCount) Documents</a>
                            }
                            </td>
 
                        </tr>    
                    }
                </tbody>
           </table>
        </div>
    </div>

</main>