@{
    ViewData["Title"] = "Invoicing";
}
@section Style {
    <link rel="stylesheet" href="~/css/adminCss.css" />
}

@section Scripts {
    <script src="~/js/contactProvider.js"></script>
    <script>
        if (window.innerWidth > 530) {
            document.getElementById('navbarHeader').classList.add("show");
        }
    </script>
}

<partial name="_NavBar" />

<div class="mt-5  m-auto mb-5 w-75">
    <div class="mt-4 m-auto d-flex justify-content-between">

        <div class="d-flex align-items-center justify-content-center">
            <h3 class="me-2 mt-1 fw-bolder">TimeSheet</h3>
        </div>
        <div>
            <button class="btn btn btn-outline-info hover_white ms-5" onclick="window.history.back()">
                <i class="fa-solid fa-chevron-left"></i> Back
            </button>
        </div>
    </div>

    <div class="border-0 rounded-3 shadow my-2">

        <div class="row px-4">

            <div class="col-md-3">
                <select class="p-2 mt-3 px-4 form-control mb-3 w-100 " id="regionForProvider">
                    <option value="0">All</option>
                    @foreach (var region in @ViewBag.regions)
                    {
                        <option value="@region.Regionid">@region.Name - (@region.Abbreviation)</option>
                    }
                </select>
            </div>

            <div class="col-md-3">
                <select class="p-2 mt-3 px-4 form-control mb-3 w-100 " id="regionForProvider">
                    <option value="0">All</option>
                    @foreach (var region in @ViewBag.regions)
                    {
                        <option value="@region.Regionid">@region.Name - (@region.Abbreviation)</option>
                    }
                </select>
            </div>

        </div>
    </div>
</div>

