@model List<HalloDoc_BAL.ViewModel.Records.BlockHistoryView>;


<table class="table table-hover w-100 my-4 mobile_d_none">
    <thead class="">
        <tr>
            <th>Patient Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Created Date</th>
            <th>Notes</th>
            <th>is Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
            <tr class="text-black data-row">
                <td class="text-black">@request.patientName</td>
                <td class="text-black">@request.PhoneNumber</td>
                <td class="text-black">@request.Email</td>
                <td class="text-black">@request.createdDate.ToString("dd MMM , yyyy")</td>
                <td class="text-black">@request.Notes</td>
                <td class="text-black">
                    <input type="checkbox" checked disabled />
                </td>
                <td>
                    <button onclick="unblock(@request.blockRequestId , @request.requestId)" class="btn btn-outline-info btn-sm hover_white">Unblock</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="accordion mt-4 desktop_d_none" id="accordionExample">
    @{
        var accountCount = 0;
        foreach (var request in Model)
        {
            var accountId = "collapse" + accountCount;
            var accountHeaderId = "collapseHeader" + accountCount;
            accountCount = accountCount + 1;

            <div class="accordion-item data-row-mobile">
                <h2 class="accordion-header" id="@accountHeaderId">
                    <button class="accordion-button d-flex flex-column align-items-start border-bottom border-1 text-black" type="button" data-bs-toggle="collapse"
                            data-bs-target="#@accountId" aria-expanded="false" aria-controls="@accountId">
                        <div class="d-flex align-items-center">
                            <span class="mx-2">@request.patientName</span>
                        </div>
                        <br />
                        <div>
                            <span class="mx-2">@request.Email</span>
                        </div>
                    </button>
                </h2>
                <div id="@accountId" class="accordion-collapse collapse" aria-labelledby="@accountHeaderId">
                    <div class="accordion-body">
                        <div class="container-fluid mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="col-auto">
                                Phone:
                            </div>
                            <div class="col-auto mx-2">@request.PhoneNumber</div>
                        </div>
                        <div class="container-fluid mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-clock "></i>
                            </div>
                            <div class="col-auto">
                                Created Date:
                            </div>
                            <div class="col-auto mx-2">@request.createdDate.ToString("MMM dd, yyyy")</div>
                        </div>

                        <div class="container-fluid mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-file "></i>
                            </div>
                            <div class="col-auto">
                               Notes:
                            </div>
                            <div class="col-auto mx-2">@request.Notes</div>
                        </div>

                        <div class="container-fluid mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="col-auto">
                               Is Active : 
                            </div>
                            <div class="col-auto mx-2">@((bool)@request.isActive ? "Yes" : "No")</div>
                        </div>

                        <div class="container-fluid p-0 d-flex flex-row justify-content-end my-2">
                            <button onclick="unblock(@request.blockRequestId , @request.requestId)" class="btn btn-outline-info btn-sm hover_white">Unblock</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
