@model List<HalloDoc_BAL.ViewModel.Records.SearchRecordView>

<table class="table table-hover document_table my-3 me-0 mobile_d_none">
    <thead class="">
        <tr class="table_header searchrecords_header">
            <th class="">Patient Name</th>
            <th class="">Requestor</th>
            <th class="">Date Of Service</th>
            <th class="">Close Case Date</th>
            <th class="">Email</th>
            <th class="">Phone Number</th>
            <th class="">Address</th>
            <th class="">Zip</th>
            <th class="">Request Status</th>
            <th class="">Physician</th>
            <th class="">Physician Note</th>
            <th class="">Cancelled By Provider Note</th>
            <th class="">Admin Note</th>
            <th class="">Patient Note</th>
            <th class="">Delete Permanently</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr class="data-row searchrecords_data_row">
                <td class="">@(item.PatientName ?? "-")</td>
                <td class="">@(item.Requestor ?? "-")</td>
                <td class="">@(item.ServiceDate ?? "-")</td>
                <td class="">@(item.DateofClose ?? "-")</td>
                <td class="">@(item.Email ?? "-")</td>
                <td class="">@(item.PhoneNumber ?? "-")</td>
                <td class="">@(item.Address ?? "-")</td>
                <td class="">@(item.Zip ?? "-")</td>
                <td class="">@(item.StatusName ?? "-")</td>
                <td class="">@(item.PhysicianName ?? "-")</td>
                <td class="">@(item.PhysicianNote ?? "-")</td>
                <td class="">@(item.CancelledByProvidor ?? "-")</td>
                <td class="">@(item.AdminNotes ?? "-")</td>
                <td class="">@(item.PatientNote ?? "-")</td>
                <td class=" text-center">
                    <a role="button" data-bs-toggle="modal" data-bs-target="#DeleteConfirmationModal" data-bs-requestid="@item.RequestId" class="btn btn-outline-info btn-sm hover_white">Delete</a>
                </td>
            </tr>

        }

    </tbody>
</table>

<div class="accordion mt-4 desktop_d_none" id="accordionExample">
    @{
        var accountCount = 0;
        foreach (var item in Model)
        {
            var accountId = "collapse" + accountCount;
            var accountHeaderId = "collapseHeader" + accountCount;
            accountCount = accountCount + 1;

            <div class="accordion-item data-row-mobile user-data">
                <h2 class="accordion-header" id="@accountHeaderId">
                    <button class="accordion-button d-flex flex-column align-items-start border-bottom border-1 text-black" type="button" data-bs-toggle="collapse"
                            data-bs-target="#@accountId" aria-expanded="false" aria-controls="@accountId">
                        <div class="my-2">
                            <span class="">@(@item.PatientName ?? "-")</span>
                        </div>
                        <div>
                            <span class="">@item.Address</span>
                        </div>
                    </button>
                </h2>
                <div id="@accountId" class="accordion-collapse collapse" aria-labelledby="@accountHeaderId">
                    <div class="accordion-body">

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-user "></i>
                            </div>
                            <div class="col-auto">
                                Requestor:
                            </div>
                            <div class="col-auto mx-2">@(item.Requestor ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-clock "></i>
                            </div>
                            <div class="col-auto">
                                Date Of Services:
                            </div>
                            <div class="col-auto mx-2">@(item.ServiceDate ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-regular fa-clock"></i>
                            </div>
                            <div class="col-auto">
                                Case Closed Date:
                            </div>
                            <div class="col-auto mx-2">@(item.DateofClose ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-regular fa-envelope"></i>
                            </div>
                            <div class="col-auto">
                                Email:
                            </div>
                            <div class="col-auto mx-2">@(item.Email ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="col-auto">
                                Phone:
                            </div>
                            <div class="col-auto mx-2">@(item.PhoneNumber ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="col-auto">
                                Address:
                            </div>
                            <div class="col-auto mx-2">@(item.Address ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="col-auto">
                                Zip code:
                            </div>
                            <div class="col-auto mx-2">@(item.Zip ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-check"></i>
                            </div>
                            <div class="col-auto">
                                Request Status:
                            </div>
                            <div class="col-auto mx-2">@(item.StatusName ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="col-auto">
                                Provider :
                            </div>
                            <div class="col-auto mx-2">@(item.PhysicianName ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-regular fa-file"></i>
                            </div>
                            <div class="col-auto">
                                Provider Note:
                            </div>
                            <div class="col-auto mx-2">@(item.PhysicianNote ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-regular fa-file"></i>
                            </div>
                            <div class="col-auto">
                                Cancel By Provider Note:
                            </div>
                            <div class="col-auto mx-2"> @(item.CancelledByProvidor ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-regular fa-file"></i>
                            </div>
                            <div class="col-auto">
                               Admin Note:
                            </div>
                            <div class="col-auto mx-2">@(item.AdminNotes ?? "-")</div>
                        </div>

                        <div class="mb-2 p-0 d-flex flex-row align-items-center">
                            <div class="col-auto me-2 btn btn-sm btn-outline-info rounded-5">
                                <i class="fa-regular fa-file"></i>
                            </div>
                            <div class="col-auto">
                            Patient Note:
                            </div>
                            <div class="col-auto mx-2"> @(item.PatientNote ?? "-")</div>
                        </div>

                        <div class="container-fluid p-0 d-flex flex-row justify-content-end my-2">
                            
                                <a role="button" data-bs-toggle="modal" data-bs-target="#DeleteConfirmationModal" data-bs-requestid="@item.RequestId" class="btn btn-outline-info btn-sm hover_white">Delete</a>
                        </div>

                    </div>
                </div>
            </div>
        }
    }
</div>




@if (Model.Count > 10)
{
    <div id="pagination" class="d-flex flex-row-reverse p-3">
        <div class="d-flex">
            <button id="first-button" class="pagination_btn">First</button>
            <button id="prev-button" class="pagination_btn" disabled><i class="fa-solid fa-arrow-left"></i></button>
            <div id="page-buttons"></div>
            <button id="next-button" class="pagination_btn"><i class="fa-solid fa-arrow-right"></i></button>
            <button id="last-button" class="pagination_btn">Last</button>
        </div>
    </div>
}
